<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>Library - admin page</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{~/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/myStyles.css" th:href="@{~/css/myStyles.css}"/>
    <script src="../static/js/jquery.min.js" th:src="@{~/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script src="../static/js/adminScripts.js" th:src="@{~/js/adminScripts.js}"></script>
</head>
<body>
<div id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../static/img/book_icon.png" th:src="@{~/img/book_icon.png}" width="50" height="50"/>
                <span class="my-navbar-text">My extra cool library - Admin page</span>
                <button class="btn btn-info nav-item" onclick="getHeath()">Health</button>
                <button class="btn btn-info nav-item" onclick="getMetrics()">Metrics</button>
                <button class="btn btn-info nav-item" onclick="getLogFile()">Log file</button>
            </a>
        </div>
        <div>
            <span th:text="'you are logged as ' + ${userName}">You are not logged</span>
            <form action="/logout">
                <input class="btn btn-primary" type="submit" value="Logout"/>
            </form>
        </div>
    </nav>
</div>
<div class="container h-90">

    <div class="row h-90 justify-content-center align-items-center content" id="health">
        <div class="col-12 card">
            <textarea id="healthOut" readonly="readonly" rows="34">health</textarea>
        </div>
    </div>

    <div class="row h-90 justify-content-center content" id="metrics">
        <div class="col-4 card" id="metricsButtons">
        </div>
        <div class="col-8 card">
            <textarea id="metricOut" readonly="readonly" rows="20"></textarea>
        </div>
    </div>

    <div class="row h-90 justify-content-center align-items-center content" id="logfile">
        <div class="col-12 card">
            <textarea id="logfileOut" readonly="readonly" rows="34">Here should be logFile</textarea>
        </div>
    </div>
</div>

</body>
</html>