<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{~/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/myStyles.css" th:href="@{~/css/myStyles.css}"/>
</head>
<body>

<div th:replace="template :: header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../static/img/book_icon.png" width="50" height="50"/>
                <span class="my-navbar-text">My extra cool library</span>
            </a>
            <a href="authorsPage.html" class="my-navbar-text">Get all authors</a>
            <a href="genresPage.html" class="my-navbar-text">Get all genres</a>
            <a href="booksPage.html" class="my-navbar-text">Get all books</a>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <span class="my-headers">Here is all authors:</span>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <table class="table cont">
                <tr>
                    <th>Name</th>
                </tr>
                <tr th:each="author : ${authors}">
                    <td th:utext="${author.name}">Default author</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <span class="my-headers">Here you can add new author</span>
    </div>
    <div class="row justify-content-center align-items-center cont">
        <form action="/author/add" method="post">
            <input name="authorName" placeholder="author name" required>
            <button class="btn btn-primary" onclick="onsubmit()">Add author</button>
        </form>
    </div>
    <div class="row justify-content-center align-items-center">
        <span th:if="${isOk == 'ok'}" th:text="${'Author was added'}" class="successAction">Success action</span>
        <span th:if="${isOk == 'error'}" th:text="${'Author was not added'}" class="errorAction">Error action</span>
    </div>
</div>

</body>
</html>