<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{~/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/myStyles.css" th:href="@{~/css/myStyles.css}"/>
</head>
<body>

<div th:replace="template :: header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../static/img/book_icon.png" width="50" height="50"/>
                <span class="my-navbar-text">My extra cool library</span>
            </a>
            <a href="authorsPage.html" class="my-navbar-text">Get all authors</a>
            <a href="genresPage.html" class="my-navbar-text">Get all genres</a>
            <a href="booksPage.html" class="my-navbar-text">Get all books</a>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <h3>Book info</h3>
    </div>
    <div class="row justify-content-center cont">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Book name: </td>
                    <td th:text="${book.name}">Default book</td>
                </tr>
                <tr>
                    <td>Genre: </td>
                    <td th:text="${book.genre.name}">Default genre</td>
                </tr>
                <tr>
                    <td>Authors: </td>
                    <td><p th:each="author : ${book.authors}" th:text="${author.name}">Default author</p></td>
                </tr>
                <tr>
                    <td>Comments: </td>
                    <td>
                        <p th:each="comment : ${book.comments}" th:text="${comment.getComment()}">
                            Default comment
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <p>----------------------------------</p>
        </div>
        <div class="row justify-content-center cont">
            <form th:action="@{/book/addComment}" method="post">
                <input name="bookName" th:value="${book.name}" hidden="hidden"/>
                <input name="comment" placeholder="enter comment here"/>
                <input class="btn btn-primary" type="submit" value="add comment"/>
            </form>
        </div>
        <div class="row justify-content-center cont">
            <form th:action="@{/book/addAuthorToBook}" method="post">
                <input name="bookName" th:value="${book.name}" hidden="hidden"/>
                <select name="authorName">
                    <option th:each="author : ${allAuthors}"
                            th:value="${author.name}"
                            th:text="${author.name}">Author
                    </option>
                </select>
                <input class="btn btn-primary" type="submit" value="add author"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>