<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>Library</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{~/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/myStyles.css" th:href="@{~/css/myStyles.css}"/>
    <script src="../static/js/jquery.min.js" th:src="@{~/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script src="../static/js/myScripts.js" th:src="@{~/js/myScripts.js}"></script>
</head>
<body>

<div id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../static/img/book_icon.png" th:src="@{~/img/book_icon.png}" width="50" height="50"/>
                <span class="my-navbar-text">My extra cool library</span>
                <button class="btn btn-info nav-item" onclick="showAuthorContainer()">Authors</button>
                <button class="btn btn-info nav-item" onclick="showGenreContainer()">Genres</button>
                <button class="btn btn-info nav-item" onclick="showBookContainer()">Books</button>
            </a>
        </div>
    </nav>
</div>

<div id="mainContainer" class="container">

    <div class="row">
        <div id="leftSideContainer" class="col-3 card withMargin align-self-start">
            <div class="card-body">
                <div class="card-title"><span>Find book by:</span></div>
                <select id="typeOfSearching" name="typeOfSearching" class="form-control">
                    <option value="bookName">Name</option>
                    <option value="authorName">Author</option>
                    <option value="genreName">Genre</option>
                </select>
                <input id="inputValue" class="form-control mt-3" placeholder="enter value"/>
                <button class="btn btn-info form-control mt-3">Find book</button>
            </div>
            <div class="card-body">
                <div class="card-title">Find author:</div>
                <input id="authorName" class="form-control" placeholder="enter author name">
                <button class="btn btn-info form-control mt-3">Find author</button>
            </div>
        </div>
        <div id="centralContainer" class="col-8 card withMargin">
            <div id="bookContainer" class="content">
                <div class="row justify-content-center align-items-center">
                    <h3>Here is founded books:</h3>
                </div>
                <table id="bookTable" class="table table-bordered cont">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Authors</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <h3>Here you can add new book</h3>
                    </div>
                    <div class="row justify-content-center align-items-center cont">
                        <table>
                            <tr>
                                <th>Book name</th>
                                <th>Genre</th>
                                <th>Author</th>
                            </tr>
                            <tr>
                                <td>
                                    <input id="bookPage_newBookName"
                                           class="form-control"
                                           name="bookName"
                                           placeholder="enter book name"
                                           required/>
                                </td>
                                <td>
                                    <select id="bookPage_selectGenre" name="genreName" class="form-control">
                                    </select>
                                </td>
                                <td>
                                    <select id="bookPage_selectAuthor" name="authorName" class="form-control">
                                    </select>
                                </td>
                                <td>
                                    <button id="buttonAddBook" class="btn btn-primary form-control">Add book</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="authorContainer" class="content">
                <div class="row justify-content-center align-items-center">
                    <h3>Here is all authors:</h3>
                </div>
                <table id="authorContainer_authorTable" class="table cont">
                    <tr>
                        <th>Name</th>
                    </tr>
                </table>
                <div class="row justify-content-center align-items-center">
                    <h4>Here you can add new author</h4>
                </div>
                <div class="row justify-content-center align-items-center cont">
                    <input id="authorContainer_newAuthorName" placeholder="author name" required>
                    <button onclick="addAuthor()" class="btn btn-primary">Add author</button>
                </div>
                <div id="authorContainer_message" class="row justify-content-center align-items-center">
                </div>
            </div>
            <div id="genreContainer" class="content">
                <div class="row justify-content-center align-items-center">
                    <h3>Here is all genres:</h3>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-6">
                        <table id="genreTable" class="table cont">
                            <tr>
                                <th>Name</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center cont">
                    <input id="genreContainer_newGenreName" placeholder="genre name" required>
                    <button class="btn btn-primary" onclick="addGenre()">Add genre</button>
                </div>
                <div id="genreContainer_message" class="row justify-content-center align-items-center">
                </div>
            </div>
            <div id="bookInfo" class="content">
                <div class="row justify-content-center align-items-center">
                    <h3>Book info</h3>
                </div>
                <div class="row justify-content-center cont">
                    <div class="col-6">
                        <table class="table">
                            <tr>
                                <td>Book name:</td>
                                <td id="bookInfo_bookName"></td>
                            </tr>
                            <tr>
                                <td>Genre:</td>
                                <td id="bookInfo_genre"></td>
                            </tr>
                            <tr>
                                <td>Authors:</td>
                                <td id="bookInfo_authors"></td>
                            </tr>
                            <tr>
                                <td>Comments:</td>
                                <td id="bookInfo_comments"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <p>----------------------------------</p>
                    </div>
                    <div class="row justify-content-center cont">
                        <input id="bookInfo_comment" placeholder="enter comment here"/>
                        <button id="bookInfo_buttonAddComment" class="btn btn-primary">Add comment</button>
                    </div>
                    <div class="row justify-content-center cont">
                        <select id="bookInfo_selectAuthor" name="authorName">
                        </select>
                        <button id="bookInfo_buttonAddAuthor" class="btn btn-primary">Add author</button>
                    </div>
                </div>
            </div>
            <div id="authorInfo" class="content">

            </div>
        </div>
    </div>

</div>

</body>
</html>