<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
        <title>Title</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{~/css/bootstrap-grid.min.css}"/>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{~/css/bootstrap-reboot.min.css}"/>
        <script src="../static/js/myScripts.js" th:src="@{~/js/myScripts.js}"></script>
        <script src="../static/js/myScripts.js" th:src="@{~/js/bootstrap.min.js}"></script>
    </head>

    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">My extra cool library</a>
                <a href="/author/getAll">Get all authors</a>
                <a href="/genre/getAll">Get all genres</a>
                <a href="/book/all">Get all books</a>
            </div>
        </nav>
    </header>
</html>