<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../static/img/book_icon.png" th:src="@{~/img/book_icon.png}" width="50" height="50"/>
                    <span class="my-navbar-text">My extra cool library</span>
                </a>
                <a href="/author/getAll" class="my-navbar-text">Get all authors</a>
                <a href="/genre/getAll" class="my-navbar-text">Get all genres</a>
                <a href="/book/all" class="my-navbar-text">Get all books</a>
            </div>
        </nav>
    </header>

</html>